.search-box.pull-right
  %h2 Search
  %form.form-inline{role: "form", action: '/locations/search', method: 'get'}
    .form-group
      %label{for: "q"} 
      %input#q.form-control{name: 'q', placeholder: "Your search term", type: "text", value: @q}/
    
    %button.btn.btn-info{type: "submit"} Search

%h1 
  Locations
  - if @q
    Matching "#{@q}"
    %small= link_to 'back to all locations', locations_path
  %small= @count

%table.table.table-striped
  %tr
    %th Name
    %th URL
    %th Last Updated
    %th

  - @locations.each do |location|
    %tr
      %td= link_to location.name, location
      %td= link_to location.url, location.url, target: '_blank'
      %td= location.updated_at.strftime('%A, %d %b %Y %l:%M %p')
      %td
        = link_to 'Show', location
        = link_to 'Edit', edit_location_path(location)
        = link_to 'Destroy', location, :method => :delete, :data => { :confirm => 'Are you sure?' }

.paging= paginate @locations 

= link_to 'New Location', new_location_path
