.row
  .col-md-8
    %h2
      = @location.name
      %small= link_to 'edit', edit_location_path(@location)

    %table.table.table-hover
      %tr
        %th Name
        %td= @location.name
      %tr
        %th URL
        %td= link_to @location.url, @location.url, target: '_blank'


    %h3 Technologies

    %ul.technology-list
      - @location.technologies.each do |tech|
        %li= link_to tech.name, tech


    %h3 Overview &amp; Links

    %table.table.table-hover
      %tr
        %th Title
        %td= @meta.title
      %tr
        %th Description
        %td= @meta.meta['description']
      %tr
        %th Links
        %td= @meta.links.size
      %tr
        %th Images
        %td= @meta.images.size
      %tr
        %th Feed
        %td= link_to @meta.feed, @meta.feed
      %tr
        %th Email Links
        %td
          - @email_links.each do |mailto|
            = link_to(mailto.gsub(/mailto:\s*/i,'').gsub(/\?.+$/, ''), mailto)
            %br/
      %tr
        %th External Links
        %td
          - @external_links.each do |link|
            = link_to truncate(link, length: 50), link 
            %br/

    %h4 Meta Tags
    %table.table.table-hover
      %tr
        %th Tag
        %th Value
      - @meta.meta.each do |tag, value|
        %tr
          %td
            %strong= tag
          %td= value

    - if @location.cached_source.present? 
      %h3 Cached Source
      %pre= @location.cached_source

  .col-md-4
    .panel.panel-default
      .panel-body
        - if @meta.image
          .og-image= image_tag @meta.image, class: 'img img-responsive'
        %h3 Actions
        %p= button_to 'Re-scan this URL', scan_location_path(@location), class: 'btn btn-info'
